* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'NotoSansKR';}
ol, ul, li {list-style: none;}
a {text-decoration: none;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


$light: #f8f8f8;
$light-border: #dfdfdf;
$light-bg: #fff;
$light-font1: #000;
$light-font2: #333;
$light-font3: #666;

$dark: #181818;
$dark-border: #2a2a2a;
$dark-bg: #1f1f1f;
$dark-font1: #fff;
$dark-font2: #f7f7f7;
$dark-font3: #eee;

$blue: #0078D4;
